body {
	background-color: #1d4c57;
}
.tableBorderColor {
	background-color: #FFFFFF;
}

.bgDivided {
	background-image:  url(images/bgMain.gif);
	background-repeat: repeat-y;
}
.menuBGtopBar {
	background-color: #6fc1d5;
}
.menuBGmainColor {
	background-color: #1c6678;
}
.menuMainLink a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 12px;
	letter-spacing: -1px;
}
.menuMainLink a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #c3f587;
	text-decoration: none;
	line-height: 12px;
	letter-spacing: -1px;
}
.contentFade {
	background-image: url(images/bgFade.jpg);
	background-repeat: repeat-x;
	background-position: top;
	background-color: #4f5f3c;
}
.fontSecondaryColor {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #cbf4fe;
	text-decoration: none;
}
.copyright {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-transform: uppercase;
	color: #63abbd;
	text-decoration: none;
	letter-spacing: -1px;
}
.copyrightLink a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-transform: uppercase;
	color: #63abbd;
	text-decoration: none;
	letter-spacing: -1px;
}
.copyrightLink a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-transform: uppercase;
	color: #63abbd;
	text-decoration: underline;
	letter-spacing: -1px;
}
.boldWhite {
	font-weight: bold;
	color: #FFFFFF;
}
