body {
	background-color: #904100;
}
.tableBorderColor {
	background-color: #FFFFFF;
}

.bgDivided {
	background-image:  url(images/bgMain.gif);
	background-repeat: repeat-y;
}
.menuBGtopBar {
	background-color: #da8400;
}
.menuBGmainColor {
	background-color: #a16200;
}
.menuMainLink a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 12px;
	letter-spacing: -1px;
}
.menuMainLink a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #ffba00;
	text-decoration: none;
	line-height: 12px;
	letter-spacing: -1px;
}
.contentFade {
	background-image: url(images/bgFade.jpg);
	background-repeat: repeat-x;
	background-position: top;
	background-color: #672e00;
}
.fontSecondaryColor {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #ffd594;
	text-decoration: none;
}
.copyright {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-transform: uppercase;
	color: #a16200;
	text-decoration: none;
	letter-spacing: -1px;
}
.copyrightLink a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-transform: uppercase;
	color: #a16200;
	text-decoration: none;
	letter-spacing: -1px;
}
.copyrightLink a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-transform: uppercase;
	color: #a16200;
	text-decoration: underline;
	letter-spacing: -1px;
}
.boldWhite {
	font-weight: bold;
	color: #FFFFFF;
}
